.project-card {
    max-width: 400px;
    transition: transform .2s;
}

.project-card:hover {
    transform: scale(1.05);
}

.card-highlights ul {
    list-style-type: none;
    padding-left: 0;
}

.card-highlights li::before {
    content: "✔";
    margin-right: 8px;
}
